<article id="film-details" class="row">
    {{#with filmFromAPI}}
        <div class="col">
            <img src="{{poster_image.image_files.6.url}}" alt="{{slug}}">
            <h4><span class="big">{{title}}</span> <i class="far fa-heart"></i></h4>
            <h5>directed by: <span class="big">{{crew.0.name}}</span> </h5>          
        </div>
        <div class="col">
            <p>
                {{#each genres}}
                    <a class="genre" href="">{{this.name}}</a>
                {{/each}}
            </p>
            <p><b>Synopsis:</b>  {{synopsis}}</p>
            <div class="cast">
                <b>Cast:</b> 
                <ul>
                {{#each cast}}
                    <li><span class="big">{{this.name}}</span> as <span class="big">{{this.character}}</span></li>
                {{/each}}    
                </ul>
            </div>
        </div>
    {{/with}}
</article>

{{!-- film api should have the location and language stuff --}}
<div class="comment-section">
<h3>Comments:</h3>
           

    <ul list-style-type="none" class="comment-list">{{#each filmFromDbWithComments}}
        <li class="comment" >
            <p>{{this.username}}</p>
            <p>{{this.content}}</p>
           {{#if isUserName}}
            <div class="comment-btns-group">
                <form action="{{filmId}}/edit" method="get">
                    <button class="comment-btn" type="submit"> edit</button>
                </form>
                <form action="{{id}}/delete/{{filmId}}" method="post">
                    <button class="comment-btn" type="submit">delete</button>
                </form>
            </div>  
            {{/if}}

            </li>
        {{/each}}
        <li list-style-type="none">
            <form action="/films/{{filmFromAPI.id}}" method="post" name="comment-form" style="padding-bottom: 100px;">
            {{!-- <p>HERE IS THE ID: {{film._id}}</p> --}}
            {{!-- <input type="text" name="username" placeholder="Type your name here..."> --}}
            <textarea class="comment-form" name="content" cols="100" rows="20"  placeholder="Type your comment here..."></textarea>
            <input class="comment-btn" type="submit" />
</form>
        </li>
    </ul>


</div>



