<article id="film-details" class="row">
    {{#with film}}
        <div class="col">
            <img src="{{poster_image.image_files.6.url}}" alt="{{slug}}">
            <h4>{{title}} directed by {{crew.0.name}} <i class="far fa-heart"></i></h4>           
        </div>
        <div class="col">
            <p>
                {{#each genres}}
                    <a class="genre" href="">{{this.name}}</a>
                {{/each}}
            </p>
            <p><b>Synopsis:</b>  {{synopsis}}</p>
            <div class="cast">
                Cast:
                <ul>
                {{#each cast}}
                    <li>{{this.name}} as {{this.character}}</li>
                {{/each}}    
                </ul>
            </div>
        </div>
    {{/with}}
</article>
{{!-- API film details --}}
{{!-- 
<h2>Comments</h2>

<ul> {{#each comment}}
    <li>
        <p>{{name}}</p>
        <p>{{content}}</p>
    </li>

    {{/each}}
</ul> --}}

{{!-- same url action and then do a post request in the router --}}
<h2>{{film.title}}</h2>
<img src="{{film.image}}" alt="$`{{film.title}} title image`">

{{!-- film api should have the location and language stuff --}}

<h3>Comments:</h3>
    <ul>{{#each film.comments}}
        <li>
            <p>{{this.username}}</p>
            <p>{{this.content}}</p>
            </li>
        {{/each}}
    </ul>

<form action="/films/{{film._id}}" method="post" name="comment-form">
{{!-- <p>HERE IS THE ID: {{film._id}}</p> --}}
<input type="text" name="username" placeholder="Type your name here...">
<textarea name="content" cols="100" rows="20" placeholder="Type your comment here..."></textarea>
<input type="submit" />
</form>
